@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-nav .nav-link {
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
}

.navbar-nav .nav-link.active {
  font-weight: 600;
  text-decoration: underline;
}

.footer-icon:hover {
  color: #007bff !important;
}

.footer-link:hover {
  font-weight: 600;
  text-decoration: none;
}